# vim: ft=swayconfig

# TODO issues to address:
# - wake from sleep does not work from thunderbolt kbd/mouse
#   - solution ATM is to open the laptop and close it while plugged in
# - external display resolution defaults to 'widescreen' not ultrawide
# - also when modifying DP-1 (external res) via wdisplays, it will activate
# eDP-1 (internal display) even when the lid is closed.
# - time is not correct (stops us using citrix!)
# chromium does not remember password (maybe false, might have used
# google-chrome)
# - mouse natural scroll pls.

input "type:keyboard" {
    xkb_layout us,de
    xkb_variant ,nodeadkeys
    xkb_options grp:alt_shift_toggle
    xkb_options caps:ctrl_modifier
}

# output "*" bg /path/to/image fill

output * bg #2c2c2c solid_color

# disable laptop display when the lid is closed and laptop is docked
bindswitch lid:on output eDP-1 disable
bindswitch lid:off output eDP-1 enable

set $mod Mod1

# Drag floating windows by holding down $mod and left mouse button.
# Resize them with right mouse button + $mod.
# Despite the name, also works for non-floating windows.
# Change normal to inverse to use left mouse button for resizing and right
# mouse button for dragging.
floating_modifier $mod normal

input type:touchpad {
  tap enabled
  natural_scroll enabled
}

# your preferred application launcher
set $menu dmenu_path | dmenu | xargs swaymsg exec --

set $term foot

bindsym $mod+Return exec $term
bindsym $mod+c exec chromium
bindsym $mod+Shift+q kill
bindsym $mod+d exec $menu
# Reload the configuration file
bindsym $mod+Shift+r reload

# Exit sway (logs you out of your Wayland session)
bindsym $mod+Shift+e exec swaynag -t warning -m 'You pressed the exit shortcut. Do you really want to exit sway? This will end your Wayland session.' -B 'Yes, exit sway' 'swaymsg exit'

# movement
set $left h
set $down j
set $up k
set $right l

# Drag floating windows by holding down $mod and left mouse button.
# Resize them with right mouse button + $mod.
# Despite the name, also works for non-floating windows.
# Change normal to inverse to use left mouse button for resizing and right
# mouse button for dragging.
floating_modifier $mod normal

#
# Moving around:
#
    # Move your focus around
    bindsym $mod+$left focus left
    bindsym $mod+$down focus down
    bindsym $mod+$up focus up
    bindsym $mod+$right focus right
    # Or use $mod+[up|down|left|right]
    bindsym $mod+Left focus left
    bindsym $mod+Down focus down
    bindsym $mod+Up focus up
    bindsym $mod+Right focus right

    # Move the focused window with the same, but add Shift
    bindsym $mod+Shift+$left move left
    bindsym $mod+Shift+$down move down
    bindsym $mod+Shift+$up move up
    bindsym $mod+Shift+$right move right
    # Ditto, with arrow keys
    bindsym $mod+Shift+Left move left
    bindsym $mod+Shift+Down move down
    bindsym $mod+Shift+Up move up
    bindsym $mod+Shift+Right move right
#
# Workspaces:
#
    # Name workspaces
    # 1 fun web, 2 work web, 3 work terminal, 4 gimp (always ready to draw!)
    # 5 comms (slack/telegram), 6 alt (e.g vm/citrix)
    set $ws1 1:main
    set $ws3 ""
    set $ws4 ""
    set $ws5 "comms"
    set $ws6 "external"

    # Assign applications to workspaces
    assign [class="^Chromium"] $ws1
    assign [app_id="^foot"] $ws3

    assign [class="^telegram-desktop"] $ws5
    assign [class="^discord"] $ws5

    assign [class="^gimp"] $ws5

    assign [class="^virt-manager"] $ws6

    # Switch to workspace
    bindsym $mod+1 workspace $ws1
    bindsym $mod+2 workspace number 2
    bindsym $mod+3 workspace $ws3
    bindsym $mod+4 workspace $ws4
    bindsym $mod+5 workspace $ws5
    bindsym $mod+6 workspace $ws6
    bindsym $mod+7 workspace number 7
    bindsym $mod+8 workspace number 8
    bindsym $mod+9 workspace number 9
    bindsym $mod+0 workspace number 10
    # Move focused container to workspace
    bindsym $mod+Shift+1 move container to workspace number 1
    bindsym $mod+Shift+2 move container to workspace number 2
    bindsym $mod+Shift+3 move container to workspace $ws3
    bindsym $mod+Shift+4 move container to workspace $ws4
    bindsym $mod+Shift+5 move container to workspace $ws5
    bindsym $mod+Shift+6 move container to workspace $ws6
    bindsym $mod+Shift+7 move container to workspace number 7
    bindsym $mod+Shift+8 move container to workspace number 8
    bindsym $mod+Shift+9 move container to workspace number 9
    bindsym $mod+Shift+0 move container to workspace number 10
    # Note: workspaces can have any name you want, not just numbers.
    # We just use 1-10 as the default.
#
# Layout stuff:
#
    # You can "split" the current object of your focus with
    # $mod+b or $mod+v, for horizontal and vertical splits
    # respectively.
    bindsym $mod+b splith
    bindsym $mod+v splitv

    # Switch the current container between different layout styles
    bindsym $mod+s layout stacking
    bindsym $mod+w layout tabbed
    bindsym $mod+e layout toggle split

    # Make the current focus fullscreen
    bindsym $mod+f fullscreen

    # Toggle the current focus between tiling and floating mode
    bindsym $mod+Shift+space floating toggle

    # Swap focus between the tiling area and the floating area
    bindsym $mod+space focus mode_toggle

    # Move focus to the parent container
    bindsym $mod+a focus parent

bar {
    position top

    font "Recursive Mono Linear Static, FontAwesome" 10

    # When the status_command prints a new line to stdout, swaybar updates.
    # The default just shows the current date and time.
    status_command while date +'%Y-%m-%d %I:%M:%S %p'; do sleep 1; done

    colors {
        statusline #ffffff
        background #323232
        inactive_workspace #32323200 #32323200 #5c5c5c
    }
}

include /etc/sway/config.d/*
