# vim: ft=swayconfig

# TODO issues to address:
# - wake from sleep does not work from thunderbolt kbd/mouse
#   - solution ATM is to open the laptop and close it while plugged in
# - external display resolution defaults to 'widescreen' not ultrawide
# - also when modifying DP-1 (external res) via wdisplays, it will activate
# eDP-1 (internal display) even when the lid is closed.
# - time is not correct (stops us using citrix!)
# chromium does not remember password (maybe false, might have used
# google-chrome)
# - mouse natural scroll pls.

# TODO do not think this is necessary as it's already done from the system
# config linked at the bottom - but check!
# D-Bus activated service doesn't know what wayland display to connect to by default, so we link it here.
# exec dbus-update-activation-environment --systemd DISPLAY WAYLAND_DISPLAY SWAYSOCK

##############################################
# System Config                              #
##############################################

# disable laptop display when the lid is closed and laptop is docked
bindswitch lid:on output eDP-1 disable
bindswitch lid:off output eDP-1 enable

input type:keyboard {
    xkb_layout us
    xkb_variant ,nodeadkeys
    # xkb_options grp:alt_shift_toggle # why?
    xkb_options caps:ctrl_modifier
    repeat_delay 200
    repeat_rate 30
}

input type:touchpad {
  tap enabled
  natural_scroll enabled
}

input type:pointer {
  natural_scroll enabled
}

##############################################
# Appearance                                 #
##############################################

output * bg #2c2c2c solid_color
# output * bg ~/Pictures/backgrounds/ren-ran-Jy6luiLBsrk-unsplash.jpg fill

# gaps inner 20?
default_border none
default_floating_border none
titlebar_padding 1
titlebar_border_thickness 0

## Window decoration
# class                 border  backgr. text    indicator child_border
client.focused          #44403C #1C1917 #f0f0f0 #9ec3c4   #44403C
client.focused_inactive #44403C #1C1917 #f0f0f0 #9ec3c4   #44403C
client.unfocused        #44403C #1C1917 #f0f0f0 #9ec3c4   #44403C
client.urgent           #44403C #1C1917 #0f0f0f #9ec3c4   #44403C

# Import GTK settings
exec_always /home/loki/bin/import-gsettings \
    gtk-theme:gtk-theme-name \
    icon-theme:gtk-icon-theme-name \
    cursor-theme:gtk-cursor-theme-name\
    font-name:gtk-font-name

##############################################
# Utilities                                  #
##############################################

set $mod Mod1

# Drag floating windows by holding down $mod and left mouse button.
# Resize them with right mouse button + $mod.
# Despite the name, also works for non-floating windows.
# Change normal to inverse to use left mouse button for resizing and right
# mouse button for dragging.
floating_modifier $mod normal

# your preferred application launcher
# set $menu dmenu_path | dmenu | xargs swaymsg exec --
set $menu tofi-run | xargs swaymsg exec --

set $term foot

##############################################
# Keybindings                                #
##############################################

bindsym $mod+Return exec $term
bindsym $mod+c exec chromium
bindsym $mod+Shift+q kill
bindsym $mod+space exec $menu
# Reload the configuration file
bindsym $mod+Shift+r reload
bindsym $mod+Shift+t exec 'systemctl suspend'

# Exit sway (logs you out of your Wayland session)
bindsym $mod+Shift+e exec swaynag -t warning -m 'You pressed the exit shortcut. Do you really want to exit sway? This will end your Wayland session.' -B 'Yes, exit sway' 'swaymsg exit'

# movement
set $left h
set $down j
set $up k
set $right l

# Dismiss notifications
bindsym Control+space exec makoctl dismiss
# Screenshot with grim and swappy
# bindsym print exec grim - | swappy -f -
# bindsym Shift+print exec grim -g "$(slurp)" - | swappy -f -
# bindsym $mod+Shift+u exec grim - | swappy -f -
# bindsym $mod+Shift+p exec grim -g "$(slurp)" - | swappy -f -
bindsym $mod+s exec grimshot copy area
bindsym $mod+shift+p exec grimshot save area | wl-copy

# Drag floating windows by holding down $mod and left mouse button.
# Resize them with right mouse button + $mod.
# Despite the name, also works for non-floating windows.
# Change normal to inverse to use left mouse button for resizing and right
# mouse button for dragging.
floating_modifier $mod normal

# bindsym $mod+Shift+e exec swaynag -t custom -m 'Do you wish to fully reload your Sway session?' -b 'Yes' 'swaymsg exit'
# bindsym $mod+Shift+p exec swaynag -t custom -m 'What action would you like to perform?' -b 'Shutdown' 'poweroff' -b 'Restart' 'poweroff --reboot'

#
# Moving around:
#
    # Move your focus around
    bindsym $mod+$left focus left
    bindsym $mod+$down focus down
    bindsym $mod+$up focus up
    bindsym $mod+$right focus right
    # Or use $mod+[up|down|left|right]
    bindsym $mod+Left focus left
    bindsym $mod+Down focus down
    bindsym $mod+Up focus up
    bindsym $mod+Right focus right

    # Move the focused window with the same, but add Shift
    bindsym $mod+Shift+$left move left
    bindsym $mod+Shift+$down move down
    bindsym $mod+Shift+$up move up
    bindsym $mod+Shift+$right move right
    # Ditto, with arrow keys
    bindsym $mod+Shift+Left move left
    bindsym $mod+Shift+Down move down
    bindsym $mod+Shift+Up move up
    bindsym $mod+Shift+Right move right
#
# Workspaces:
#
    # Name workspaces
    # 1 fun web, 2 work web, 3 work terminal, 4 gimp (always ready to draw!)
    # 5 comms (slack/telegram), 6 alt (e.g vm/citrix)
    set $ws1 "1:home"
    set $ws2 "2:work"
    set $ws3 "3:code"
    set $ws4 "4:draw"
    set $ws5 "5:comms"
    set $ws6 "6:external"
    set $ws7 "7:mystery?"

    # Assign applications to workspaces
    # N.B: discover class/app_id with `swaymsg -t get_tree`
    assign [class="^Chromium"] $ws1
    assign [app_id="^foot"] $ws3

    assign [app_id="^org.telegram.desktop"] $ws5
    assign [class="^discord"] $ws5
    assign [class="^Slack"] $ws5

    assign [class="^gimp"] $ws5

    assign [app_id="^virt-manager"] $ws6

    # Switch to workspace
    bindsym $mod+1 workspace $ws1
    bindsym $mod+2 workspace $ws2
    bindsym $mod+3 workspace $ws3
    bindsym $mod+4 workspace $ws4
    bindsym $mod+5 workspace $ws5
    bindsym $mod+6 workspace $ws6
    bindsym $mod+7 workspace $ws7
    # Move focused container to workspace
    bindsym $mod+Shift+1 move container to workspace $ws1
    bindsym $mod+Shift+2 move container to workspace $ws2
    bindsym $mod+Shift+3 move container to workspace $ws3
    bindsym $mod+Shift+4 move container to workspace $ws4
    bindsym $mod+Shift+5 move container to workspace $ws5
    bindsym $mod+Shift+6 move container to workspace $ws6
    bindsym $mod+Shift+7 move container to workspace $ws7
    # Note: workspaces can have any name you want, not just numbers.
    # We just use 1-10 as the default.
#
# Layout stuff:
#
    # You can "split" the current object of your focus with
    # $mod+b or $mod+v, for horizontal and vertical splits
    # respectively.
    bindsym $mod+b splith
    bindsym $mod+v splitv

    # Switch the current container between different layout styles
    # bindsym $mod+s layout stacking
    bindsym $mod+w layout tabbed
    bindsym $mod+e layout toggle split

    # Make the current focus fullscreen
    bindsym $mod+f fullscreen

    # Toggle the current focus between tiling and floating mode
    bindsym $mod+Shift+space floating toggle

    # Swap focus between the tiling area and the floating area
    # TODO overwriting from earlier
    # bindsym $mod+space focus mode_toggle

    # Move focus to the parent container
    bindsym $mod+a focus parent

    # test: can we move term + chromium into a single workspace and back again?
    # instead, maybe it's just easier to spawn a new terminal @ 30% width etc.
    # bindsym $mod+l

bar {
    position top

    font "Recursive Mono Linear Static" 10
    # font "Recursive Mono Linear Static, FontAwesome" 10

    # status_command while date +'%Y-%m-%d %I:%M:%S %p'; do sleep 1; done
    status_command ~/.config/nvim/bin/status

    colors {
        statusline #ffffff
        background #323232
        inactive_workspace #32323200 #32323200 #5c5c5c
        # focused_workspace #32323200 #32323200 #5c5c5c
    }
}

include /etc/sway/config.d/*
